@{ Layout = "_Layout"; }

<h1>Welcome to the Eau Claires Employee/Client Management System!</h1>
<p>@Html.ActionLink("View all Stylist", "Index", "Stylists")</p>
<p>@Html.ActionLink("View all Clients", "Index", "Clients")</p>